@model MvcCharacter.Models.CharacterClassViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Characters" asp-action="Index" method="get">
    <p>
        <select asp-for="CharacterClass" asp-items="Model.Classes">
            <option value="">All</option>
        </select>

        Character: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].CharacterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].CharacterClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].Atk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characters[0].AC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Characters) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
